NODE_ENV=development
PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=wallet_user
DB_PASSWORD=wallet_pass
DB_NAME=wallet_db

JWT_SECRET=supersecretjwt
JWT_EXPIRES_IN=1d

PAYSTACK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxx
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_CALLBACK_URL=http://localhost:3000/api/wallets/credit/verify

ADMIN_PHONE=+2348000000001
ADMIN_PASSWORD=AdminPass123
SAMPLE_USER_PHONE=+2348000000002
SAMPLE_USER_PASSWORD=UserPass123
